@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/iranyekan/woff/IRANYekanWebBold.woff") format("woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/iranyekan/woff/IRANYekanWebThin.woff") format("woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/iranyekan/woff/IRANYekanWebLight.woff") format("woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/iranyekan/woff/IRANYekanWebRegular.woff") format("woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/iranyekan/woff/IRANYekanWebMedium.woff") format("woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/iranyekan/woff/IRANYekanWebExtraBold.woff") format("woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 850;
  src: url("../fonts/iranyekan/woff/IRANYekanWebBlack.woff") format("woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/iranyekan/woff/IRANYekanWebExtraBlack.woff") format("woff");
}
