@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("normalize.css");
@import url("fonts.css");
@import url("colors.css");

/* shadow-[0_16px_48px_0px_rgba(0,0,0,0.1)] */

@layer components {
  .section-border {
    @apply z-0  rounded-2xl py-3 p-2 sm:p-4 shadow-xl dark:shadow-none dark:text-gray-100;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "iranyekan";
  /* font-size: 14px; */
  user-select: none;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  min-height: 0;
  list-style: none;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  font-weight: 500;
  outline: none;
}
button :focus {
  /* cursor: pointer; */
  /* font-weight: 500; */
  outline: none !important;
  border: none !important;
}
button:disabled {
  color: #666666;
  cursor: not-allowed;
  background: var(--button-disabled-bg-color) !important;
}

*:focus {
  outline: none !important;
}

.my-container ul {
  list-style: none;
  position: relative;
  color: #733dd8;
  font-size: 13px;
}
.my-container ul::before {
  content: "";
  width: 1px;
  height: 100%;
  left: -2px;
  position: absolute;
  border-left: 2px dashed rgb(255, 255, 255);
}
.my-container ul li {
  position: relative;
  margin-left: 30px;
  padding: 14px;
  border-radius: 6px;
  /* width: 250px; */
}
.my-container ul li:not(:first-child) {
  margin-top: 60px;
}
.my-container ul li > span {
  width: 2px;
  height: 100%;
  background: #fff;
  left: -32px;
  top: 0;
  position: absolute;
}
.my-container ul li > span::after,
.my-container ul li > span::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  background: #733dd8;
  left: -3px;
  top: 0;
}
.my-container ul li span:after {
  top: 100%;
}

.my-container span.number {
  height: 100%;
}
.my-container span.number span {
  position: absolute;
  font-size: 10px;
  left: -35px;
  font-weight: bold;
}
.my-container span.number span:first-child {
  top: 0;
}
.my-container span.number span:last-child {
  top: 100%;
}

.custom-styles {
  --ReactInputVerificationCode-itemWidth: 40px;
  --ReactInputVerificationCode-itemHeight: 40px;
}

.custom-styles .ReactInputVerificationCode__item {
  position: relative;
  color: #444;
  font-weight: 500;
  /* border-radius: 50%; */
  /* border: 1px solid #ccc; */
}

.custom-styles .ReactInputVerificationCode__item,
.custom-styles .ReactInputVerificationCode__item.is-active {
  box-shadow: none;
}

.custom-styles .ReactInputVerificationCode__item:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
  background-color: #ebebeb;
  transition: background-color 0.2s ease-out;
}

.custom-styles .ReactInputVerificationCode__item.is-active:after {
  background-color: #733dd8;
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper {
  top: 52px !important;
  left: 150px !important;
}

.ck-editor__editable_inline {
  min-height: 500px;
}

.r1_iframe_embed {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding-top: 56.25%;
}
.r1_iframe_embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
